/* configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variveis de cor */
:root {
    --color-bg: #090D00;   
    --gray-02: #E2E2F5; 
    --button-bg: #72be00;
    --cor-black: 000;
}

/* configurações para app e body */
#app, body {
    height: 100vh;
}

/* body */
body { 
    background: url(img/bg.png) no-repeat center center/cover;
    font-family: 'Outfit', sans-serif;
}

/* a */
a {
    text-decoration: none;
}


/* app */
#app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding: 0 10rem;
}

/* main */
main {
    max-width: 23.75rem;
    color: var(--gray-02);
}

/* h1 */
h1 {
    font-size: 2.5rem;
    line-height: 120%;
}


/* p */
p {
    margin-top: 1.5rem;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 140%;
}


/* .btn */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;

    background: var(--button-bg);
    border-radius: 62.4375rem;

    color: var(--color-bg);
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase; /* para deixar as letras em caixa alta */
}

.btn:hover {
    opacity: 80%;
}

/* aside */
aside {
    display: flex;
    align-items: center;
}

/* button-wrapper */
.button-wrapper{
    margin-top: 3.5rem;

    display: flex;
    align-items: center;
    gap: 1rem;
}


/* buton:hover */
.btn:hover p {
    background: var(--color-bg);
}

